<div class="row justify-content-center">
	<div class="form col-md-4">
		<h2>Retrieve an existing certificate:</h2>
		<form name="getCertificateForm">
			<input type="text"
			class="form-group form-control"
			placeholder="Keystore*"
			ng-model="$ctrl.store"
			required
			autofocus/>
			<input type="number"
			class="form-group form-control"
			placeholder="Serial number*"
			ng-model="$ctrl.id"
			required/>
			<input type="submit"
			class="btn btn-custom mb-3"
			value="Get"
			ng-click="getCertificateForm.$valid && $ctrl.send()"/>
			<p>
				{{$ctrl.status}}
			</p>
			<p class="cert-display">
				{{$ctrl.certificate}}
			</p>
			<a class="btn btn-custom"
				ng-if="$ctrl.certificate"
				ng-href="data:application/x-x509-user-cert;base64,{{$ctrl.certificate}}"
				download="certificate.crt">
					Download certificate
			</a>
		</form>
	</div>
</div>
