<div class="row justify-content-center">
	<div class="form col-md-auto">
		<h2>Revoke a certificate:</h2>
		<form name="revokeForm">
			<input type="text"
			class="form-group form-control"
			placeholder="Keystore*"
			ng-model="$ctrl.store"
			required
			autofocus/>
			<input type="number"
			class="form-group form-control"
			placeholder="Serial number*"
			ng-model="$ctrl.id"
			required/>
			<input type="submit"
			class="btn btn-custom"
			value="Revoke"
			ng-click="revokeForm.$valid && $ctrl.send()"/>
			<p>
				{{$ctrl.status}}
			</p>
		</form>
	</div>
</div>
