		<h2>Check status of a certificate:</h2>
		<form name="statusCertificateForm">
			<input type="text"
			placeholder="Keystore*"
			ng-model="$ctrl.store"
			required
			autofocus/>
			<input type="number"
			placeholder="Serial number*"
			ng-model="$ctrl.id"
			required/>
			<input type="submit"
			value="Check"
			ng-click="statusCertificateForm.$valid && $ctrl.send()"/>
			<p>
				{{$ctrl.status}}
			</p>
			<p class="cert-display">
				{{$ctrl.certificate}}
			</p>
		</form>
