<div class="row justify-content-center">
	<div class="form col-md-4">
		<h2>Check status of a certificate:</h2>
		<form name="statusCertificateForm">
			<input type="text"
			class="form-group form-control"
			placeholder="Keystore*"
			ng-model="$ctrl.store"
			required
			autofocus/>
			<input type="number"
			class="form-group form-control"
			placeholder="Serial number*"
			ng-model="$ctrl.id"
			required/>
			<input type="submit"
			class="btn btn-custom"
			value="Check"
			ng-click="statusCertificateForm.$valid && $ctrl.send()"/>
			<p>
				{{$ctrl.status}}
			</p>
			<p class="cert-display">
				{{$ctrl.certificate}}
			</p>
		</form>
	</div>
</div>
